* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.btn {
  padding: 15px 30px;
  background-color: #469165;
  font-weight: 600;
  color: white;
  border: none;
  outline: none;
  border-radius: 7px;
}
.btn-outline {
  padding: 15px 30px;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
#nav-center {
  display: flex;
  align-items: center;
  gap: 20px;
}
#nav-center li {
  list-style-type: none;
}
#nav-center li a {
  text-decoration: none;
  color: black;
}

#banner-section {
  background-image: url("/assets/hero-bg.png");
  height: 674px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.banner-container h4 {
  color: #469165;
  padding: 9px 20px;
  border-radius: 100px;
  background-color: white;
  width: 40%;
  margin: auto;
  font-weight: 500;
  font-size: 16px;

  margin-bottom: 20px;
}

.banner-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.btn-start {
  display: flex;
  align-items: center;
  gap: 6px;
}
.banner-container h1 {
  font-size: 60px;
}
.banner-container h2 {
  font-size: 65px;
  color: #30b868;
}
.banner-container p {
  width: 700px;
  line-height: 24px;
  margin-bottom: 20px;
}

#notes-dont-fail-section h1 {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 12px;
}
#notes-dont-fail-section {
  font-size: 16px;
  color: #000000;
  text-align: center;
}
.notes-container {
  display: flex;
  /* align-items: center; */
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 200px;
}
.notes img {
  background-color: #f95555;
  padding: 10px;
  border-radius: 50%;
}
.notes {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.122);
  padding: 25px;
  border-radius: 10px;
}
.notes h4 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600px;
}
.notes p {
  line-height: 20px;
  color: #627382;
}
#solution-section {
  display: flex;
  align-items: center;
  gap: 40px;
}
.solution-left {
  /* height: 300px; */
}
.solution-right h6 {
  color: #30b868;
  font-weight: 500;
}
.solution-right h1 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 20px;
}
.solution-right p {
  line-height: 20px;
  color: #627382;
}
.solution-right li {
  list-style-type: none;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.solution-right div {
  margin-top: 30px;
}
