* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.btn {
  padding: 15px 30px;
  background-color: #469165;
  font-weight: 600;
  color: white;
  border: none;
  outline: none;
  border-radius: 7px;
}

.container {
  max-width: 1200px;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
#nav-center {
  display: flex;
  align-items: center;
  gap: 20px;
}
#nav-center li {
  list-style-type: none;
}
#nav-center li a {
  text-decoration: none;
  color: black;
}
